<html lang="en">
<head>
   <meta charset="UFT-8">
   <meta name="viewport" content="width-device-width, initial-scale-1.0">
   <title>Our Todo list app</title>
</head>
<body>
    <h1>We welcome you to our Todo list app!</h1>
    <h2>Our Posts:</h2>
    <ul>
        {% for post in object_list %}
            <li><a href="{% url 'post-details' post.pk %}">{{post.title}}</a>
                <br/>
                {{post.author}}
                <br/>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
